.HaveCard{
    font-size: 12px;
}
.Close{
    display: flex;
    justify-content: end;
}
.Amount{
    justify-content: end; 
   
 }
 .Ant{
    margin-left: -11%;
 }
 .Ant1{
     margin-left: 10%;
 }
 .button_Tatal{
     font-weight: 700;
  font-size: 15px;
    //  color: #ffff !important;
 }

